/*--------------------------------------------------------------
# Declares variables to be used in the project
--------------------------------------------------------------*/
:root{
    font-size: 16px;
    --transition-speed: 600ms;
}
$dark-primary-color: #001427;
$light-primary-color: white;
$accent-colors: #f18805;
$text-icons: #5a5d6c; 


