
@media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
    
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin-left: 0;
    }
  
    .intro{
      background-color:$dark-primary-color;
      color: $light-primary-color;
    }

    .hero-image{
    height: 24vh;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 5rem;
    }
}
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    main{
      margin-left: 4rem;
    }
    .navbar {
      bottom: 0;
      width: 5rem;
      height: 95vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }