

@import "config";
@import "hero";
@import "cards";
@import "navbar";
@import "responsive";
@import "header";
@import "clients";
@import "button";
@import "footer";


body {
    color: $dark-primary-color;
    background-color: $light-primary-color;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

main {
        padding: 4rem 4rem 0rem 4rem;
      }
    body::-webkit-scrollbar{
            width: 0.25rem;}
    body::-webkit-scrollbar-track{
            background: $dark-primary-color;}
    body::-webkit-scrollbar-thumb{
            background: $accent-colors;}



