@charset "UTF-8";
/*--------------------------------------------------------------
# Declares variables to be used in the project
--------------------------------------------------------------*/
:root {
  font-size: 16px;
  --transition-speed: 600ms;
}

/*--------------------------------------------------------------
# Places the image for the main page
--------------------------------------------------------------*/
.hero-image {
  /*--------------------------------------------------------------
  # Linear gradient works greatly to make hero text readable
  # Position and center the image to scale nicely on all screens
  --------------------------------------------------------------*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpg");
  height: 70vh;
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------------
# translate places the hero text in the middle of the hero image
--------------------------------------------------------------*/
.hero-text {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*--------------------------------------------------------------
# Design for the cards
--------------------------------------------------------------*/
.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  justify-items: center;
  padding-top: 2rem;
  /*--------------------------------------------------------------
  # Use of mixin to assign the same basic properties to each card.
  --------------------------------------------------------------*/
}
.card-container .card_1 {
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  background-image: url("../img/Proyectos/Bimbo Mazatlan.jpg");
}
.card-container .card_2 {
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  background-image: url("../img/Proyectos/Chedraui San José del Cabo.JPG");
}
.card-container .card_3 {
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  background-image: url("../img/Proyectos/Chedraui Palacio.JPG");
}
.card-container .card_4 {
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 500ms ease;
  background-image: url("../img/Proyectos/Chedraui Colima.JPG");
}

/*--------------------------------------------------------------
# Use of mixin to assign the same basic properties to each card.
--------------------------------------------------------------*/
.card-content {
  padding: 0.8rem;
  text-decoration: none;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f18805;
  transform: scaleX(0);
  transition: transform 500ms ease;
}

.card_1:hover {
  transform: scale(1.05);
}
.card_1:hover .card-title::after {
  transform: scaleX(1);
}

.card_2:hover {
  transform: scale(1.05);
}
.card_2:hover .card-title::after {
  transform: scaleX(1);
}

.card_3:hover {
  transform: scale(1.05);
}
.card_3:hover .card-title::after {
  transform: scaleX(1);
}

.card_4:hover {
  transform: scale(1.05);
}
.card_4:hover .card-title::after {
  transform: scaleX(1);
}

/*--------------------------------------------------------------
 # Declares logo variable to start hover animation
--------------------------------------------------------------*/
.logo {
  content: "";
}

.logo:hover {
  transform: scale(1.05);
}
.logo:hover .card-title::after {
  transform: scaleX(1);
}

/*--------------------------------------------------------------
# Side navigation bar
  Taken from: Fireship
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Height of 90vh to make space for the header
  use of z-index to avoid text overlapping from other elements
--------------------------------------------------------------*/
.navbar {
  width: 40rem;
  height: 90vh;
  position: fixed;
  background-color: #001427;
  transition: width 400ms ease;
  z-index: 1;
}

/*--------------------------------------------------------------
# Icon alignment 
--------------------------------------------------------------*/
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #5a5d6c;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: #f18805;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #86ff86;
}

.fa-primary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin-left: 0;
  }

  .intro {
    background-color: #001427;
    color: white;
  }

  .hero-image {
    height: 24vh;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
  }
}
/* Large screens */
@media only screen and (min-width: 600px) {
  main {
    margin-left: 4rem;
  }

  .navbar {
    bottom: 0;
    width: 5rem;
    height: 95vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
header {
  background: #5a5d6c;
  font-family: "Nunito", sans-serif;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 4;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  transform: scale(0.5);
  grid-column-gap: 300px;
  grid-row-gap: 40px;
}

.button {
  border: none;
  /* Remove borders */
  color: white;
  /* White text */
  padding: 0px 16px;
  /* Some padding */
  cursor: pointer;
  /* Mouse pointer on hover */
  text-decoration: none;
}

.media-button {
  background-color: #5a5d6c;
  border: none;
  /* Remove borders */
  color: white;
  padding: 0px 16px 0px 8px;
  /* Some padding */
  cursor: pointer;
  /* Mouse pointer on hover */
  text-decoration: none;
}

.media-button:hover {
  color: #f18805;
}

.button:hover {
  box-shadow: inset 0px -80px 0px 0px #f18805;
}

.card-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f18805;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.card-button:hover {
  box-shadow: inset 0px -90px 60px 0px #001427;
}

.footer-basic {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

body {
  color: #001427;
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

main {
  padding: 4rem 4rem 0rem 4rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #001427;
}

body::-webkit-scrollbar-thumb {
  background: #f18805;
}

/*# sourceMappingURL=main.css.map */
